<div class="section">
  <h3><%= h section.first %></h3>
  <div>
    <ul>
      <% sorted_output(section.last).each do |array_with_data| %>
        <li>
        <% if array_with_data.last %>
          <b><%= array_with_data.first %></b> : <%= array_with_data.last.inspect %>
        <% else %>
          <%= array_with_data.first %>
        <% end %>  
        </li>
      <% end %>
    </ul>
  </div>
</div>