<tr class="entry">
  <td>
    <%= link_to project.name, project_stacks_path(project), :class => "entry-links" %>
  </td>
  <td>
    <%= project.description %>
  </td>
  <td>
    <% form_tag project_url(project), :method => :put do %>
      <%= select_tag "warning_threshold", options_for_select([10, 20, 30], project.warning_threshold), :class => "warning_threshold", :name => "project[warning_threshold]" %>
    <% end %>
  </td>
</tr>