<div id="main">
  <div class="block">
    <div class="content">
      <h2 class="title">Tables</h2>
      <div class="inner">
        <table class="table">
          <tr>
            <th id="project-name-col">Name</th>
            <th id="project-description-col">Description</th>
            <th class="last">Warning threshold</th>
          </tr>
          <%= render @projects %>
        </table>
          <div class="actions-bar">
            <div class="actions">
              <%= link_to "Create", new_project_path, :class => "button" %>
            </div>
            <%= will_paginate(@projects) %>
            <div class="clear"></div>
          </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function($) {
    $('.warning_threshold').change(function() {
      $(this).parent().submit();
    });
  });
</script>