<div class="flash">
  <%= "<div class=\"message notice\"><p>#{self.flash[:notice]}</p></div>" unless self.flash[:notice].blank? %>
  <%= "<div class=\"message alert\"><p>#{self.flash[:alert]}</p></div>" unless self.flash[:alert].blank? %>
</div>